<!DOCTYPE html>
<html>
<head>
<title>Image Caption Prediction</title>

</head>

<body>
   <form action="{{url_for('predict')}}" method="POST" enctype="multipart/form-data">
     <center>
        <h1> Prediction</h1>
        <label for="img">Select image:</label>
        <input type="file" name="img" id="img" accept="image/*"><br><br>
        <img id="img" name="img" alt="Display Picture" src="{{url_for('static',filename=path)}}" /> <br />
        <button type="submit" value="predict">Predict</button> 
        <button type = "reset" value = "Clear">Clear</button>
      </center>
   </form>
   <br><br>
   <center>
    {{ prediction_text }}
   </center>
 </body>
</html>
